* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
}

.main {
  color: white;
  height: 100%;
  width: 100%;
  padding: 48px 96px;
  background-color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.hero-heading {
  font-size: 48px;
}
.hero-text {
  color: grey;
  padding-left: 16px;
}
.btn {
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: 800;
  margin: 16px;
  padding: 16px 32px;
  font-weight: bold;
  border-radius: 24px;
}
.add-todo {
  padding: 0 40px;
  display: flex;
  cursor: pointer;
  width: 64px;
  border-radius: 0 16px 16px 0;
  justify-content: center;
  align-items: center;
  background-color: green;
  border: 4px solid green;
}
.remove-todo {
  border: 4px solid coral;
}
.main-heading {
  padding: 16px 24px;
}
.input {
  font-size: 24px;
  margin: 16px;
  height: 64px;
  display: flex;
}
#input {
  border-radius: 16px 0 0 16px;
  font-size: 24px;
  padding: 0 16px;
  width: 80vw;
}
#input:focus {
  outline: none;
  border: 2px solid greenyellow;
}
