* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
}
.main {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: grid;
    grid-template-columns:0.75fr 9fr 2fr;
    grid-template-areas: "a b c";
}
i {
    color: white;
    font-size: 25px;
}
.navbar {
    grid-area: a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.box {
    width: 500px;
    height: 400px;
    background-color: white;
}
.stories {
    width: 600px;
    overflow-x: auto;
    padding: 20px 50px;
    display: flex;
    gap: 20px;
    align-items: center;
}
.story {
    flex-shrink: 0;
    min-width: 80px;
    height: 80px;
    width: 80px;
    background-color: white;
    border-radius: 50%;
}
.post {
    width: 500px;
    color: white;
}

.scrollcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    grid-area: b;
    min-height: 0;
}
.elements {
    display: flex;
    justify-content: space-between;
}
.post-left {
    width: 300px;
    display: flex;
    justify-content: start;
    gap: 8px;
    align-items: center;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
