* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
:root {
    --black: rgb(12,16,20);
    --white: rgb(245,245,245);
    --dark-blue: #152127;
    --dark-blue-hover: #253137;
    --border-color: #5d6c7b;
}
.login-main {
    height: 100vh;
    width: 100vw;
    display: flex;
}
.login-left {
    height: 100vh;
    width: 50vw;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-left > svg {
    width: 200px;
    height: 200px;
    margin-top: 15px;
}
.login-right {
    border-left: 2px solid var(--border-color);
    height: 100vh;
    width: 50vw;
    color: var(--white);
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-form > form{
    width: 527px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;

}
input{
    color: var(--white);
    border: 2px solid var(--border-color);;
    outline: none;
    background: transparent;
    border-radius: 13px;
    width: 527px;
    padding: 17px 15px;
}
input:focus {
    border: 2px solid var(--white);
}
.btn { 
    font-size: 15px; 
    font-weight: 500;
    width: 527px;
    padding: 12px 5px;
    border-radius: 20px;
    border: none;
}
.login-btn {
    margin-top: 20px;
}
.login-btn:hover {
    background-color: white;
}

.forgot-password-btn {
    color: var(--white);
    background: transparent;
}
.forgot-password-btn:hover {
    background-color: var(--dark-blue-hover);
}
.login-text {
    margin: 0 0 15px 15px;
    font-size: 20px;
    font-weight: 500;
    width: 527px;
    text-align: left;
}

